.pageBanner_container {
  /* background-image: url("../../assets/menu/banner.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.pageBanner_content {
  position: relative;
  color: #fff;
  z-index: 1;
}

.pageBanner_content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}
